@charset "utf-8";
/* CSS Document */
font{
	font-weight:bold;
}
header{
	background-color: #333;
	color: aliceblue;
	padding:20px;
	text-align: center;
}
h1{
	margin:0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
td{
	border:solid;
	border-color:#F7E9EA;
	border-width: 1px;
}
h3{
	background-color: #333;
	color: aliceblue;
	padding:20px;
	text-align:center;
}




